################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OS_Project/v16/Browse.VC.db
/.vs/OS_Project/v16/Browse.VC.db-shm
/.vs/OS_Project/v16/Browse.VC.db-wal
/.vs/OS_Project/v16/Browse.VC.opendb
/.vs/VSWorkspaceState.json
